@media (min-width: 1200px) {
}

@media (min-width: 1680px) {
}

@media (min-width: 1800px) {
  .container-fluid.custom-container {
    max-width: 1580px;
  }
}

/* max width  */
@media (max-width: 1680px) {
  .banner-left {
    padding-left: 20px;
  }
}

@media (max-width: 1440px) {
  .banner-left h1 {
    font-size: 60px;
  }
  .banner-left p {
    font-size: 20px;
  }
  .banner-right {
    padding: 80px 0;
  }
  #nft-table-section .shape1 {
    display: none;
  }
  .notable-collection-section .shape2 {
    display: none;
  }
  .table-top {
    grid-template-columns: 4fr 8fr;
  }
}

@media (max-width: 1366px) {
  .header-area .navbar .search-meta li .form-group input {
    width: 300px;
  }
  .banner-slide-thumb {
    height: 370px;
  }
  .banner-slide-thumb h3 {
    font-size: 20px;
  }
  .banner-sliders .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
  }
  .banner-left h1 {
    font-size: 52px;
  }
  .banner-sliders .slick-arrow {
    left: -25px;
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .section-title h2 {
    font-size: 52px;
  }
  .single-collection-slide .collection-thumb {
    height: 380px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1199px) {
  .header-area {
    padding: 10px 0;
  }
  .sticky-wrapper.is-sticky .header-area {
    padding: 10px 0;
  }
  .header-area.active {
    background: #fff;
  }
  .header-area .navbar .navbar-collapse {
    margin-top: 0;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: #dfe3f2;
    border-radius: 7px;
    margin-left: 20px;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar-toggler span:last-child {
    margin-bottom: 0;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .header-area .navbar .navbar-nav .nav-item {
    margin-right: 0;
    text-align: center;
  }
  .header-area .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid #dddddd3b;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    display: block;
  }
  .navbar-nav {
    padding-top: 15px;
  }
  .header-area .navbar .navbar-nav .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header-area .navbar .header-btns li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .header-area .navbar .header-btn {
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .header-area .navbar .header-meta {
    display: none;
  }
  .header-area .navbar .header-meta.mobile-meta {
    display: flex;
  }
  .header-gap {
    height: 95px;
  }
  .header-area .navbar .search-meta li {
    margin-right: 0;
  }
  .header-area .navbar .search-meta {
    justify-content: center;
  }
  .cta-content form input {
    line-height: 70px;
  }
  .cta-content form .btn-primary {
    right: 10px;
    line-height: 50px;
    top: 10px;
  }
  .footer-about {
    margin-bottom: 40px;
  }
  .category-slide-item h3 {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .banner-left h1 {
    font-size: 42px;
  }
  .banner-left p {
    font-size: 16px;
  }
  .primary-btn {
    font-size: 16px;
    padding: 13px 25px;
  }
  body {
    font-size: 16px;
  }
  .nft-table .primary-btn {
    padding: 6px 15px;
    font-size: 15px;
  }
  .table-top {
    display: block;
  }
  .table-top-right select {
    height: 35px;
    font-size: 12px;
  }
  .table-top-right .all-chains {
    height: 35px;
    font-size: 12px;
  }
  .all-chains img {
    max-width: 20px;
  }
  .table-top-right {
    justify-content: flex-start;
    margin-top: 15px;
  }
  .table-top {
    padding: 15px 20px;
  }
  .nft-icon img {
    height: 41px;
    width: 41px;
  }
  .nft-icon span {
    height: 14px;
    width: 14px;
    font-size: 10px;
  }
  .nft-icon {
    min-width: 41px;
    margin-right: 10px;
  }
  .nft-table-item h4 {
    font-size: 16px;
  }
  th,
  td {
    font-size: 16px;
    padding: 10px 20px !important;
  }
  #nft-table-section {
    padding-top: 80px;
  }
  .section-title h2 {
    font-size: 36px;
  }
  .notable-collection-section {
    padding: 80px 0;
  }
  .collection-slides .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
  }
  .spotlight-item img {
    height: 400px;
  }
  .spotlight-meta img {
    height: 65px;
    width: 65px;
    min-width: 65px;
    margin-right: 15px;
  }
  .spotlight-meta h4 {
    font-size: 23px;
  }
  .spotlight-meta {
    padding-right: 25px;
  }
  .category-slide-item h3 {
    font-size: 18px;
  }
  .notable-collection-section {
    padding: 80px 0;
  }
  .category-slider .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
  }
  .browse-category {
    padding: 80px 0;
  }
  .category-slide-item img {
    height: 300px;
  }
  .cta-content h2 {
    font-size: 36px;
  }
  .cta-content form {
    width: 100%;
  }
  .social-media a {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 18px;
  }
  .footer-widget h3 {
    margin-bottom: 20px;
  }
  .footer-widget {
    margin-bottom: 40px;
  }
  .footer-section {
    margin-bottom: 10px;
  }
  .cta-section {
    padding: 80px 0 50px;
  }
}

@media (max-width: 767px) {
  .sportlight-title-wrap .d-flex {
    display: block !important;
  }
  #spotlight .section-title {
    margin-bottom: 15px;
  }
  .terms ul {
    justify-content: flex-start;
    margin-top: 10px;
  }
  .section-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .banner-left {
    padding: 80px 20px;
  }
  .banner-area {
    display: block;
  }
  .banner-left h1 {
    font-size: 40px;
  }
  .banner-left div {
    width: 80%;
  }
  .banner-left p {
    margin-bottom: 20px;
  }
  .banner-right {
    padding: 40px 0;
  }
  .banner-sliders .slick-list {
    padding-right: 50px !important;
  }
  .banner-sliders {
    margin-right: 0;
  }
  .banner-sliders .slick-arrow {
    height: 32px;
    width: 32px;
    font-size: 15px;
    left: 10px;
  }
  .banner-sliders .slick-arrow.next {
    right: 10px;
  }
  .single-collection-slide .collection-thumb {
    height: 275px;
  }
  .header-area .navbar-brand img {
    max-width: 45px;
  }
  .header-area .navbar .header-meta li a {
    height: 38px;
    width: 38px;
  }
  .header-area .navbar .header-meta li a img {
    max-width: 16px;
  }
  .navbar-toggler {
    height: 45px;
    width: 45px;
    margin-left: 10px;
  }
  .header-area .navbar .header-meta li:not(:last-child) {
    margin-right: 10px;
  }
  .header-gap {
    height: 75px;
  }
}

@media (max-width: 480px) {
  .banner-slide-thumb {
    height: 330px;
  }
  .min-table-width {
    min-width: 220px;
  }

  td {
    min-width: 130px;
  }
  .nft-table .table {
    display: block;
    border-radius: 0;
  }
  .single-collection-slide .collection-thumb {
    height: 290px;
  }
  .single-collection-slide-description h3 {
    font-size: 17px;
  }
  .single-collection-slide-description img {
    max-width: 90px;
    margin-top: -36px;
  }
  .category-slide-item img {
    height: 250px;
  }
  .cta-content h2 {
    font-size: 30px;
  }
  .cta-section .cta-content {
    padding: 40px 15px;
  }
  .cta-content form input {
    line-height: 50px;
    padding: 0 15px;
  }
  .cta-content form .btn-primary {
    right: 5px;
    line-height: 40px;
    top: 5px;
    font-size: 13px;
  }
  .footer-widget h3 {
    font-size: 20px;
  }
  .footer-section .col-sm-6 {
    width: 50%;
  }
  .table-top {
    min-width: 480px;
  }
  .nft-table {
    overflow-x: scroll;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 375px) {
  .header-area .navbar .search-meta li .form-group input {
    width: 270px;
  }
}
